<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${siteTitle}</title>
</head>
<body>
    <div class="page-header">
        <h2>Abstract</h2>
    </div>
    <h4 py:for="p in abstract">${p}</h4>

    <div class="page-header">
        <h2>References</h2>
    </div>
    <ul>
        <li py:for="p in ref"><h4><a>${p}</a></h4></li>
    </ul>

</body>
</html>
