<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>${siteTitle}</title>
</head>
<body>

    <div class="jumbotron center-block" style="background-color: transparent">
        <h1 class="text-center"><strong>Microorganism Search Engine</strong></h1>
        <br/>
        <h2 class="text-center">A quick and robust tool for microorganism identification</h2>
        <p class="text-center">
            <br/>
            <a class="btn btn-success btn-lg" type="button" href="/signupform"><span class="fa fa-user"></span> Sign Up</a>
            <a class="btn btn-success btn-lg" type="button" href="/login"><span class="fa fa-sign-in"></span> Sign In</a>
        </p>
    </div>

</body>
</html>
